html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
time, mark, audio, video {
	list-style: none;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}                  

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

/* END RESET CSS */

table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }

/* minimal base styles */

h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: bold;}
h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
h5 { font-size: 10px; }
h6 { font-size: 8px; }

a, a:active, a:visited { color:#607890; text-decoration: none;}
a:hover { color:#036; }

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

.hide,.tempHide { display:none; } 
.show { display:block;}
.clear { clear: both; }

